# Environment Variables
/config/config.json

# Environment and Cache
/env
*.pyc

#ignore batch files
*.bat

# ignore database
*.sqlite3

# ignore Music Cache
/data/search_cache.json

# PyCharm
/.idea
/.run

# audio clips
/clips
