# Environment Variables
config.json

# Visual Studio 
/.vs
/env
*.pyc

#ignore batch files
*.bat

# ignore database
*.sqlite3

# ignore Music Cache
MusicCache.json

# PyCharm
/.idea

# theme
/theme
*.tcl

# audio clips
/clips