# Environment Variables
config.json

# Visual Studio 
/.vs
/env
*.pyc

#ignore batch files
*.bat

# ignore database
*.sqlite3
*.sql

# ignore Music Cache
MusicCache.json

# PyCharm
/.idea
/.run

# theme
/theme
*.tcl

# audio clips
/clips

# ignore chatbot data
/data/data.pth
/data/intents.json