[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {extras = ["voice"], version = "*"}
youtube-dl = "*"
urllib3 = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
