disnake[voice]
yt-dlp
gTTS
lyricsgenius
python-youtube
emoji
sounddevice
aiosqlite
git+https://github.com/Devoxin/Lavalink.py@4.0
psutil
aiohttp
asyncpraw
asyncpg
python-Levenshtein
thefuzz
numpy
torch
nltk
