[lavalink]
    host = ""
    port = 2333
    password = ""
    region = "in"
    node_name = ""
    lavalink_path = "lavalink.jar"
    java_path = "java path"

[reddit]
    client_id = "your reddit client id"
    client_secret = "your reddit client secret"
    username = "your reddit username"
    password = "your reddit password"

[youtube]
    token = "your youtube token"

[genius]
    token = "your genius token"

[assistant]
    token = "your discord token"
    owner_id = 0 # your discord id
    home_guild = 0 # your main guild id
    dm_receive_category = 0 # must be from home_guild
    error_channel = 0 # must be from home_guild
    database_path = "path for database.sqlite3"

[clips]
    root_dir = "path for clips"

[fun]
    female_role_ids = [0, 1, 2] # known female role ids

[logging]
    [logging.guild1]
        id = 0 # guild id
        channel_id = 0 # channel id
    [logging.guild2]
        id = 0 # guild id
        channel_id = 0 # channel id